<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>测试</title>
    <script type="text/javascript" src="static/jquery/jquery.min.js"></script>
</head>
<body>
<form id="form1">
    用户名: <input type="text" name="name"/> <br>
    年    龄: <input type="text" name="age"/><br>
    兴    趣: <input type="checkbox" name="sport" value="1">足球
    <input type="checkbox" name="sport" value="2">篮球<br>
    <a onclick="submit1()">提交(表单提交，后台直接对象接收)</a>
    <a onclick="submit2()">提交(对象提交，后台直接对象接收)</a>
    <a onclick="submit3()">提交(后台@RequestBody接收)</a>
</form>
<script>
    //1、表单提交
    function submit1() {
        console.info($('#form1').serialize());   //name=2323&age=23232&sport=1  字符串
        console.info($('#form1').serializeArray());
         // "[{name: "name", value: "565"}," "{name: "age", value: "5656"}"{name: "sport", value: "1"}"]"
     /*   $.ajax({
            method : 'post',
            url : 'mvc/m1',
            dateType:'json',
            //两种方式后台都可以接收到
            //data : $('#form1').serializeArray(), //后台直接接收实体bean  数组类型json对象   适用表单提交
            data :$('#form1').serialize(),     // json字符串 name=2323&age=23232&sport=1
            success : function(data) {
                console.info(data)
            }
        })*/
        $.ajax({
            method : 'post',
            url : 'http://localhost:8051/cardinfos',
            dateType:'json',
            data :{"zh":"A1506251700002017010003"},     //  将json对象转为json字符串
            success : function(data) {
                console.info(data);
            }
        })
    }
    //2、json对象提交
    function submit2() {
        console.info($('#form1').serialize());   //name=2323&age=23232&sport=1
        console.info($('#form1').serializeArray());
        var data=$('#form1').serializeArray();
        var saveDataAry=[];
        //json对象
        var data1={"name":"网站", "age":3,"cc":"qqq"}
        //var data1={"value":"A1507810500002017010105", "type":"yazc"}
        debugger;
        $.ajax({
            method : 'post',
            url : 'mvc/m3',
            dateType:'json',
            data :data1,
            success : function(data) {
                console.info(data)
            }
        })
    }

    //3、json对象提交  转json 对象
    function submit3() {
        console.info($('#form1').serialize());   //name=2323&age=23232&sport=1
        console.info($('#form1').serializeArray());
        var data=$('#form1').serializeArray();
        var saveDataAry=[];
        //json对象
        var data1={"name":"网站", "age":3, "sport":[ "1", "2"]}
        var data1={"value":"A1507810500002017010105", "type":"yazc"}

        //contentType 主要设置你发送给服务器的格式，dataType设置你收到服务器数据的格式。
        //1.JQ得contentType默认是application/x-www-form-urlencoded，这种方式数据格式得特点name=value中间用&链接，
        //2.转义，如果用application/json这种方式传输，标准得json格式，不用考虑转义问题了，直接发送过去就可以使用，
        $.ajax({
            method : 'post',
            //url：'mvc/m2',
            url : 'http://localhost:8050/ajxx',
            dateType:'json',
            contentType:"application/json",   //后台@RequestBody接收  就是接收json字符串  使用contentType: “application/json”则data只能是json字符串
            data :JSON.stringify(data1),     //  将json对象转为json字符串
            success : function(data) {
                console.info(data)
            }
        })
    }
</script>
</body>

</html>